* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  border: 2px solid blue;
  background-color: black;
  padding: 8px 0 8px 8px;
  font-size: 20px;
}

.nav-link {
  margin: 15px;
  margin-left: 15px;
}

.page-content {
  margin: 15px;
  padding: 5px;
  font-size: 18px;
}

.data-loading {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.nav-btn {
  display: block;
  padding: 0.4rem;
  margin: 0.5rem 0;
  width: 15vw;
  background-color: rgba(6, 61, 212, 0.911);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.page-numb-btn {
  margin: 2px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: darkgray;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}